---
layout: default
title: 2021 Gartner Magic Quadrant for Application Security Testing
description: "This Magic Quadrant evaluates 14 application securty testing (AST) vendors."
canonical_path: "/resources/report-gartner-mq-ast/"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: https://learn.gitlab.com/devsecops-ic/2020-gartner-mq-ast?lb_email=
form_id: "1002"
form_type: "resources"
cta_title: "Download the report"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the report"
success_message: "You will also receive a copy of the report to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline 2021 Gartner Magic Quadrant for Application Security Testing

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p "This 2021 Magic Quadrant focuses on vendors’ traditional AST offerings, their maturity and features as tools or “as a service,” and their ability to secure some portion of the attack surface represented by some of the more modern application development concerns."

            %h3 In this report, you will learn...
            %ul
              %li Gartner's definition of the application security testing (AST) market
              %li The trends that Gartner sees driving the AST market
              %li Strengths and cautions of all evaluated vendors

            %p Download the report to learn more about AST and how you can use GitLab to lower your application security risk.
            
            %p{style: "color: gray; font-size: .9em; font-style: italic;"} Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, express or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.

            %p{style: "color: gray; font-size: .9em; font-style: italic;"} Gartner, Magic Quadrant for Application Security Testing, Dale Gardner, Mark Horvath, Dionisio Zumerle, 27 May 2021

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }
